body{
	background-color: rgb(222, 69, 6);
}

.fotografia{
	position: absolute;
	width: 500px;
	height: 500px;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url("https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwjq--Khva3jAhUEm1kKHcxLDPkQjRx6BAgBEAU&url=https%3A%2F%2Fwww.pngfind.com%2Fmpng%2FxiRJxR_pizza-cartoon-clipart-of-pizza-hd-png-download%2F&psig=AOvVaw3-X9-ypLiHVLBIBB8-Id_r&ust=1562955542112258");
}